<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>AirControl</title>
	<link rel="stylesheet" href="welcome.css">
</head>

<body>
	<div>
		<h1 class="headblock">Добро пожаловать на сайт AirControl!</h1>
	</div>

	<div>
		<p class="welcome">Данный сайт позволяет вам получать данные о погоде в вашем регионе.<br>
		Вы можете получать метеоданные с различных сервисов погоды, таких как<br>
		Gismeteo, Яндекс.Погода и т.п., строить по ним различные виды диграмм и <br>
		графиков
		</p>
	</div>
</body>
</html>